/* == VARIABLES COLORES == */

:root {
	--main-color:#000D1E;
	--secondary-color:#807C5A;
	--tertiary-color:white;
	--extra-color-1:#CCCFD2;
    --extra-color-2:#EB0029;
    --extra-color-3:#F8F9FA;
    --extra-color-4:#3E4855;
    --extra-color-5:#0F3B73;
    --extra-color-6:#6A664A;

}

/* Importación de Tipografía de fontawesome */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*========================== Inicio Estilos universales ================= */

:root{
    font-size: 20px;
}

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

/*========================== Fin Estilos universales ================= */

/*========================== Inicio Estilos Cabecera ================= */



header nav{
    padding: 0px !important;
}

header nav>div{
    padding: 0px !important;
}

.enlace-icon-club{
    display: flex;
    align-items: center;
    letter-spacing: -1px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    background: var(--main-color);
    color: var(--extra-color-3);
    margin-right: 0;
}

.enlace-icon-club span:nth-child(2){
    font-weight: 600;
    color: var(--extra-color-3);
    padding-right: 5px;
}

.enlace-icon-club span:nth-child(3){
    font-weight: 200;
    color: var(--extra-color-3);
}

.enlace-icon-club img{
    transition: all 300ms ease-in;
    margin-right: 10px;
}

.enlace-icon-club img:hover{
    transform: scale(1.2);
}

.navbar__icons-container{
    display: flex;
    column-gap: 35px;
    align-items: center;
}

.navbar__icons-container>div{
    display: flex;
    column-gap: 20px;
}

.navbar__item{
    font-size: 0.8rem;
    font-weight: 600;
}

.navbar__item:hover{
    color: var(--secondary-color);
}

.navbar__items-container{
    display: flex;
    column-gap: 12px;
}

.enlace-icon-header{
    color: var(--extra-color-4);
    font-size: 1.2rem;
    transition: all 200ms ease-in-out;
}

.enlace-icon-header:hover{
    color: var(--secondary-color);

}
/*========================== Fin Estilos Cabecera ================= */

/*========================== Inicio Estilos Main ================= */

.main .carousel-item img{
    max-height: 70vh;
    object-fit: cover;
}

.btn-main{
    background: var(--secondary-color)!important;
    border-radius: 50px;
    border: 0;
    font-size: 16px;
    font-weight: 600;
}

.btn-main:hover{
    background: var(--extra-color-6)!important;
}

.p-cards{
    font-size: 16px;
    font-weight: 600;
}

.p-cards__intimo{
    color: var(--extra-color-2);
}

.card-container{
    border: 0;
}

h1{
    font-size: 32px;
    font-weight: 900;
    color: var(--main-color);
}

h2{
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-color);
}

.enlace-img-products img{
    transition: all 300ms ease;
}

.enlace-img-products img:hover{
    transform:scale(1.1);
}

.enlace-img-products{
    overflow: hidden;
}

/*========================== Fin Estilos Main ================= */



/*========================== Inicio Estilos Footer ================= */

#footer{
    background: var(--extra-color-5)!important;
}

.footer__item{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1rem;
    font-weight: 600;
}

.footer__section2 div:nth-child(4) a{
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.footer__section2 div a:hover{
    text-decoration: underline;
}

.icons-container-outer{
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
}

.icons-container-inner{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.icons-container__unit{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
}

.icons-container__unit a{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    border-radius: 50%;
    color: var(--secondary-color);
}

.icons-container__unit a:hover{
    font-size: 27px;
    background: var(--tertiary-color);
}

.text-rights__message{
    color: var(--secondary-color);
    font-weight: 600;
}


/*========================== Fin Estilos Footer ================= */
